## Example environment variables for twingate-connector
# Copy this file to `.env` and fill in values before running compose
CONTAINER_NAME=network-container-01
HOSTNAME=network-container-01

HEALTHCHECK_CMD="nc -z -w 3 192.168.1.254 80 || exit 1"
HEALTHCHECK_INT=30s
HEALTHCHECK_TOT=10s
HEALTHCHECK_RTS=3
HEALTHCHECK_STP=30s

# Shared bridge name
BRIDGE_NAME=shared_bridge

# VLAN / macvlan network settings
VLAN010_ETH="eth-010"
VLAN010_NAME=my010_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN010_PARENT=eth0
# Subnet in CIDR form used for the macvlan network
VLAN010_SUBNET=172.20.1.0/24
# Gateway for the macvlan network
VLAN010_GATEWAY=172.20.1.254
# IP Range
VLAN010_IPRANGE=172.20.1.16/28

VLAN100_ETH="eth-100"
VLAN100_NAME=my100_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN100_PARENT=eth0.100
# Subnet in CIDR form used for the macvlan network
VLAN100_SUBNET=172.30.0.0/24
# Gateway for the macvlan network
VLAN100_GATEWAY=172.30.0.253
# IP Range
VLAN100_IPRANGE=172.30.0.16/28

VLAN200_ETH="eth-200"
VLAN200_NAME=my200_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN200_PARENT=eth0.200
# Subnet in CIDR form used for the macvlan network
VLAN200_SUBNET=172.40.0.0/24
# Gateway for the macvlan network
VLAN200_GATEWAY=172.40.0.253
# IP Range
VLAN200_IPRANGE=172.40.0.16/28
