## Example environment variables for twingate-connector
# Copy this file to `.env` and fill in values before running compose

HEALTHCHECK_CMD="nc -z -w 3 192.168.1.254 80 || exit 1"
HEALTHCHECK_INT=30s
HEALTHCHECK_TOT=10s
HEALTHCHECK_RTS=3
HEALTHCHECK_STP=30s

# Shared bridge name
BRIDGE_NAME=shared_bridge

# VLAN / macvlan network settings
VLAN10_NAME=vlan10_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN10_PARENT=eth0
# Subnet in CIDR form used for the macvlan network
VLAN10_SUBNET=192.168.1.0/24
# Gateway for the macvlan network
VLAN10_GATEWAY=192.168.1.254
# IP Range
VLAN10_IPRANGE=192.168.1.64/26

VLAN100_NAME=vlan100_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN100_PARENT=eth0.100
# Subnet in CIDR form used for the macvlan network
VLAN100_SUBNET=10.1.0.0/24
# Gateway for the macvlan network
VLAN100_GATEWAY=10.1.0.254
# IP Range
VLAN100_IPRANGE=10.1.0.64/26

VLAN200_NAME=vlan200_net
# Parent should be the VLAN sub-interface on the Pi (e.g. eth0.10)
VLAN200_PARENT=eth0.200
# Subnet in CIDR form used for the macvlan network
VLAN200_SUBNET=10.2.0.0/24
# Gateway for the macvlan network
VLAN200_GATEWAY=10.2.0.254
# IP Range
VLAN200_IPRANGE=10.2.0.64/26
